.modal {
    border-radius: 8px;
    width: 60vw;
    max-width: 900px;
    height: 90vh;
    background-color: var(--color-white);

    @media screen and (max-width: 768px) {
        width: 95vw;
    }

    .header {
        border-radius: 8px 8px 0 0;
        padding: 20px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-light-alt);

        .title {
            color: var(--color-tertiary);
            font-size: var(--font-size-medium);
            font-family: var(--font-family-header);
            font-weight: 600;
            line-height: 1.75em;
        }

        .close-container {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .close-icon {
                color: var(--color-grey-dark-alt);
            }
        }
    }

    .content {
        background-color: var(--color-white);
        padding: 25px 25px 0;

        .tabs {
            align-self: stretch;
            display: flex;
            flex-direction: column;

            .tabs-header {
                align-self: center;
                width: max-content;
                margin: 0 auto;
                padding: 4px;
                border-radius: 6px;
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
                user-select: none;

                .header-item {
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;
                    width: 112px;
                    font-weight: 500;
                    color: var(--color-grey-dark);
                    font-size: var(--font-size-small);
                    cursor: pointer;
                    transition: all 0.2s;

                    &__inactive:hover {
                        background-color: var(--color-light-alt);
                    }

                    &__high {
                        background-color: var(--color-severity-high);
                        color: var(--color-white);
                    }

                    &__medium {
                        background-color: var(--color-severity-medium);
                        color: var(--color-white);
                    }

                    &__low {
                        background-color: var(--color-severity-low);
                    }

                    @media screen and (max-width: 767px) {
                        width: 80px;
                    }
                }
            }

            .tab-content {
                height: calc(65vh + 5px);
                overflow-y: auto;
                margin-top: 20px;

                .statement {
                    border: 1px solid var(--color-light);
                    margin: 10px 0;
                    border-radius: 4px;
                    padding: 15px;
                    font-size: var(--font-size-small);
                    line-height: 1.5em;

                    &__high {
                        border-left: 3px solid var(--color-severity-high);
                    }

                    &__medium {
                        border-left: 3px solid var(--color-severity-medium);
                    }

                    &__low {
                        border-left: 3px solid var(--color-severity-low);
                    }
                }

                .list-info {
                    margin-top: 1.5rem;
                    text-align: center;
                    color: var(--color-dark-alt);
                    font-size: var(--font-size-base);
                }
            }
        }
    }
}
