$color-error: #fe625e;

.questions-table-container {
    flex: 1;
    min-height: 40vh;
    max-height: 60vh;
    overflow: auto;
    padding: 0 1em 0 0;

    .table {
        border: none;
        border-collapse: collapse;
        background-color: var(--color-white);
        width: 100%;
        margin: 12px 0;

        .status-message {
            font-size: var(--font-size-small);
            color: var(--color-dark);
            width: max-content;
            margin-top: 0.25em;
        }

        .table-header {
            position: sticky;
            top: 0;
            background-color: var(--color-background);
            border-radius: 4px;

            .header__row {
                .weightage-item {
                    text-align: right;
                }

                th {
                    border: none;
                    padding: 0.5em 0.875em;
                    text-align: left;
                    line-height: 2em;
                    font-size: var(--font-size-small);
                    color: var(--color-dark-alt);
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-transform: uppercase;

                    &:first-child {
                        width: 5%;
                    }

                    &:nth-child(3) {
                        width: 25%;
                    }

                    &:last-child {
                        width: 5%;
                    }

                    @media screen and (max-width: 767px) {
                        line-height: 1.33;
                    }
                }
            }
        }

        .table-body {
            .row {
                border: none;
                cursor: pointer;

                &__active {
                    background-color: #e9f6f6;
                }

                .name-item {
                    font-size: var(--font-size-small);
                    font-weight: 500;
                    text-decoration: none;
                    color: var(--color-dark);
                    text-align: left;

                    &:hover {
                        filter: opacity(80%);
                    }
                }

                .name-item__active {
                    color: var(--color-primary);
                }

                .name-item__empty {
                    color: $color-error;
                }

                .number-empty {
                    color: $color-error;
                }

                td {
                    border: none;
                    padding: 14px 12px;
                    font-size: var(--font-size-small);
                    line-height: 2em;
                    color: var(--color-dark-alt);

                    .undo-icon {
                        margin-top: 0.1em;
                        transform: scaleX(-1);
                        color: var(--color-grey-dark-alt);
                        font-size: var(--font-size-header);

                        &:hover {
                            filter: opacity(60%);
                        }
                    }
                }
            }
        }
    }
}
