.action-info {
    position: fixed;
    bottom: 1.25rem;
    right: 2rem;
    width: fit-content;
    height: 3.5rem;
    border-radius: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    box-shadow: -2px 4px 12px 3px rgba(0, 0, 0, 0.12);
    z-index: 98;
    transition: all 0.3s ease;
    padding: 1rem 4.5rem 1rem 1.5rem;
    color: var(--color-white);
    font-weight: 500;
    font-size: var(--font-size-small);
    line-height: 1.29em;
    animation: expand-action 0.6s forwards ease;
    transform-origin: calc(100% - 1.75rem);
}

.action-button {
    position: fixed;
    bottom: 1.25rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    box-shadow: -2px 4px 12px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    z-index: 99;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-0.3em);
    }

    .icon {
        width: 1.6em;
        height: 1.6em;
        color: var(--color-white);
    }

    &__expanded {
        background-color: var(--color-white);

        .icon {
            color: var(--color-primary);
        }
    }
}

.draft-action {
    visibility: hidden;
    background-color: var(--color-white);
    max-width: 310px;
    position: fixed;
    bottom: 2.8em;
    right: 3.5em;
    opacity: 0;
    border-radius: 0.5em;
    box-shadow: -2px 5px 50px 0 rgba(0, 0, 0, 0.16);
    padding: 1.5em 1.25em;
    transition: all 0.3s;
    z-index: 99;

    .draft-desc {
        font-size: var(--font-size-small);

        .survey-title {
            font-weight: 500;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;

        .button {
            font-size: var(--font-size-small);
            padding: 0.5em 1.25em;
            margin-left: 0.55em;
        }
    }

    &__visible {
        visibility: visible;
        transform: translateX(-3em);
        opacity: 1;
    }
}

@keyframes expand-action {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}
