.container {
    padding: 1.5rem;

    .intro-text {
        font-size: var(--font-size-small);
        line-height: 1.43em;
        color: var(--color-dark);
        margin-bottom: 2.125rem;

        @media print {
            margin-bottom: 1rem;
            font-size: var(--font-size-tiny);
        }
    }

    .statements-section {
        margin-bottom: 2rem;

        .statements-header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 1rem;
            flex-flow: wrap-reverse;
            gap: 1rem;

            .statements-header-content {
                flex: 1 1 45%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: stretch;

                @media screen and (max-width: 767px) {
                    flex: 1 1 100%;
                }

                .statements-heading {
                    font-size: var(--font-size-medium);
                    line-height: 1.27em;
                    color: var(--color-primary);
                    font-weight: 500;

                    @media print {
                        font-size: var(--font-size-normal);
                    }
                }

                .statements-title {
                    margin-top: 0.5rem;
                    font-size: var(--font-size-medium);
                    line-height: 1.27em;
                    color: var(--color-dark);
                    font-weight: 700;

                    @media print {
                        font-size: var(--font-size-base);
                    }
                }
            }

            .report-controls {
                align-self: flex-end;
                margin-left: auto;
                display: flex;
                align-items: center;
                flex-flow: wrap;
                gap: 1rem;
                justify-content: flex-end;
            }
        }

        .statements-list-sensitivity {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media print {
                gap: 0.75rem;
            }

            .statement-item {
                padding: 1rem;
                border-radius: 4px;
                border: 1px solid #cbcbcb;
                border-left: solid 4px var(--color-primary);

                .statement-header {
                    margin-bottom: 1.25rem;
                    display: flex;
                    align-items: flex-start;

                    .experimental-icon {
                        margin-right: 0.375rem;
                        width: 1.125rem;
                    }

                    .statement-title {
                        font-size: var(--font-size-base);
                        color: var(--color-dark);
                        font-weight: 500;
                        line-height: 1.43em;

                        @media print {
                            font-size: var(--font-size-small);
                            margin-bottom: 0.75rem;
                        }
                    }

                    @media print {
                        margin-bottom: 0.75rem;
                    }
                }

                .statement-data-list-container {
                    &:not(:last-child) {
                        margin-bottom: 1.25rem;

                        @media print {
                            margin-bottom: 1rem;
                        }
                    }

                    .statement-data-list-title {
                        font-size: var(--font-size-small);
                        line-height: 1.2em;
                        color: var(--color-primary);
                        font-weight: 400;
                        margin-bottom: 0.5rem;

                        @media print {
                            font-size: var(--font-size-tiny);
                        }
                    }

                    .list-item {
                        list-style-position: inside;
                        font-size: var(--font-size-small);
                        line-height: 1.43em;
                        color: var(--color-dark);

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }

                        @media print {
                            font-size: var(--font-size-tiny);
                            line-height: 1.56em;
                        }
                    }
                }
            }
        }

        .statements-list-activity {
            border: solid 1px #CBCBCB;
            padding: 0.75rem 1rem;
            border-radius: 4px;

            @media print {
                padding: 0.5rem 0.75rem;
            }

            .statement-item {
                padding: 0.75rem 0.5rem;
                font-size: var(--font-size-small);
                line-height: 1.43em;

                &:not(:last-child) {
                    border-bottom: 1px solid #E4E4E4;
                }

                @media print {
                    font-size: var(--font-size-tiny);
                    padding: 0.5rem;
                }
            }
        }
    }

    .mitigations-section {
        .mitigations-card-container {
            margin-bottom: 2rem;

            .mitigations-section-title {
                font-size: var(--font-size-medium);
                line-height: 1.27em;
                color: var(--color-dark);
                font-weight: 700;
                margin-bottom: 1.125rem;

                @media print {
                    font-size: var(--font-size-base);
                    margin-bottom: 0.75rem;
                }
            }

            .mitigations-description {
                font-size: var(--font-size-small);
                line-height: 1.43em;
                color: var(--color-dark);
                margin-bottom: 1.125rem;

                @media print {
                    font-size: var(--font-size-tiny);
                }
            }

            .mitigations-card {
                padding: 1rem;
                border-radius: 4px;
                border: solid 1px #cbcbcb;
                border-left: solid 4px var(--color-primary);

                .card-body-section {
                    &:not(:last-child) {
                        margin-bottom: 1.125rem;
                    }

                    .card-body-section-title {
                        font-size: var(--font-size-small);
                        line-height: 1.2em;
                        color: var(--color-primary);
                        font-weight: 400;
                        margin-bottom: 0.5rem;

                        @media print {
                            font-size: var(--font-size-tiny);
                            margin-bottom: 0.25rem;
                        }
                    }

                    .card-list-item {
                        list-style-position: inside;
                        font-size: var(--font-size-small);
                        line-height: 1.43em;
                        color: var(--color-dark);

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }

                        @media print {
                            font-size: var(--font-size-tiny);
                        }
                    }
                }
            }
        }
    }
}

.list-info {
    font-size: var(--font-size-small);
    line-height: 1.43em;
    color: var(--color-dark);

    @media print {
        font-size: var(--font-size-tiny);
    }
}
