.table {
    border: none;
    border-collapse: collapse;
    background-color: var(--color-white);
    width: 100%;

    .table-header {
        background-color: var(--color-background);

        .header__row {
            .header {
                font-size: 13px;

                &-high {
                    border-bottom: 3px solid var(--color-severity-high);
                }

                &-low {
                    border-bottom: 3px solid var(--color-severity-low);
                }

                &-medium {
                    border-bottom: 3px solid var(--color-severity-medium);
                }
            }

            th {
                border: none;
                padding: 0;
                text-align: left;
                line-height: 2.5em;
                font-size: 13px;
                font-weight: 600;
                color: var(--color-grey);

                &:first-child {
                    padding: 0 8px;
                    width: 48%;
                }

                &:not(:first-child) {
                    text-align: center;
                    width: 13%;
                }
            }
        }
    }

    .table-body {
        .body__row {
            border: none;
            border-bottom: 1px solid #e2e2e2;

            &:hover {
                background-color: var(--color-table-active-row);
            }

            .name-container {
                display: flex;
                align-items: center;

                .name-icon {
                    margin-right: 0.75rem;

                    path,
                    rect {
                        fill: #909696;
                    }
                }

                .name-item {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    font-size: var(--font-size-small);
                    font-weight: 500;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: var(--color-dark);
                }
            }

            td {
                border: none;
                padding: 8px;
                font-size: var(--font-size-small);
                line-height: 2.25em;
                color: var(--color-dark-alt);

                &:not(:first-child) {
                    text-align: center;
                }
            }
        }
    }
}
