.button {
    padding: 12px 32px;
    border-width: 1.2px;
    font-size: var(--font-size-base);
    user-select: none;

    &:hover {
        background-color: var(--color-primary);
        border: 1.2px solid var(--color-primary);
        box-shadow: 0 5px 15px 0 rgba(14, 163, 155, 0.38);
    }

    &:active {
        background-color: transparent;
        color: var(--color-primary);
        border: 1.2px solid var(--color-primary);
        box-shadow: unset;
    }

    &__disabled {
        background-color: var(--color-grey-light);
        border: 1.2px solid var(--color-grey-light);
        filter: none;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            max-height: 16px;
            margin-left: 24px;
            display: flex;
            align-items: center;
        }
    }
}

.button-secondary,
.button-secondary:hover {
    background-color: #e6e6e6;
    border: 1.2px solid #e6e6e6;
    box-shadow: none;
    color: var(--color-grey-dark);
}

.button-secondary:hover {
    filter: contrast(75%) !important;
    box-shadow: 0 5px 15px 0 rgba(#e6e6e6, 0.38);
}

.button-outline,
.button-outline:active {
    background-color: transparent;
    color: var(--color-primary);

    &:hover:not(:active) {
        color: var(--color-white);
    }
}
