.header {
    background-image: url("/assets/images/header-background.svg"), linear-gradient(350deg, var(--color-white) 30%, #0d2d41 30.1%);
    background-size: 100% 100%;
    padding: 40px 0 120px 130px;
    height: 900px;
    font-weight: 500;

    .navigation-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 130px;

        .logo {
            cursor: pointer;
        }

        .nav-items {
            list-style: none;

            .nav-item {
                display: inline-block;
                padding: 0 40px;

                .nav-link {
                    text-decoration: none;
                    color: var(--color-white);
                }
            }
        }

        .light-button {
            background-color: var(--color-white);
            color: var(--color-primary);
            width: 180px;
            height: 40px;
            border-radius: 5px;
            padding: 10px;
            margin-left: 20px;
            border-style: none;
            cursor: pointer;
        }

        .access-links {
            display: flex;
            justify-content: space-between;
      
            .access-link {
                padding: 10px;
                color: var(--color-white);
                text-decoration: none;
            }
        }
    }

    // main section
    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5em;

        .hero {
            margin-top: 2em;
            display: grid;
            grid-template-rows: 2fr 1fr 0fr;
            color: white;

            .dark-button {
                background-color: var(--color-primary);
                width: 155px;
                height: 45px;
                color: var(--color-white);
                border-radius: 5px;
                padding: 10px;
                border-style: none;
                cursor: pointer;
            }

            .header-title {
                font-size: 46px;
                line-height: 62px;
                margin-bottom: 20px;
            }

            .hero-text {
                font-size: var(--font-size-base);
                line-height: 24px;
            }
        }

        .hero-visual {
            display: grid;
            justify-content: right;
            max-height: 400px;

            .hero-image {
                max-height: 800px;
            }
        }
    }
}
