.tabs {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 991px) {
            flex-direction: column;
            margin: 2.5em 0;
        }

        .tabs-header {
            flex: 0 0 50%;
            width: max-content;
            display: flex;
            min-width: 50vw;
            box-shadow: 2px 6px 15px 0 rgba(0, 0, 0, 0.06);
            overflow-x: auto;
            background-color: var(--color-white);
            padding: 4px;
            margin-bottom: 0;
            border-radius: 6px;
            border: none;

            &-item {
                border-radius: 4px;
                display: flex;
                justify-content: center;
                padding: 10px 20px;
                font-weight: 500;
                color: var(--color-grey-dark);
                border: none;
                line-height: 20px;
                font-size: var(--font-size-small);
                cursor: pointer;
                flex: 1;
                user-select: none;
                min-width: fit-content;

                &:hover {
                    filter: brightness(115%);
                }

                &__active {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    font-weight: 500;

                    @media print {
                        color: var(--color-dark);
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }

            @media screen and (max-width: 991px) {
                flex: unset;
                width: 100%;
                max-width: calc(100vw - 75px);
                margin-bottom: 12px;
            }

            @media print {
                box-shadow: unset;
                margin-bottom: 0.25rem;
            }
        }
    }

    .spacer {
        flex: 1;
    }
}

.tab-content {
    margin: 16px 0;
    flex: 1;

    @media print {
        margin: 8px 0;
    }
}
