.container {
    z-index: 1;
    margin-bottom: 1em;
  
    .accordion-section {
        display: grid;
        background-color: rgba(#fff, 0.71);
        padding: 1.875em 2.5em;
        border-radius: 0.5em;

        &Active {
            background-color: rgba(#fff, 1);
            box-shadow: 5px 20px 45px 0 rgba(0, 0, 0, 0.04);
        }

        .accordion {
            color: var(--color-text);
            background-color: transparent;
            border-color: transparent;
            outline: none;
            padding: 0;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease;
    
            .accordion-title {
                font-size: var(--font-size-base);
                font-weight: 600;
                color: var(--color-text-dark-alt);
            }

            .active-title {
                color: var(--color-primary);
            }

            .down-icon {
                font-size: var(--font-size-medium);
                color: var(--color-primary);
                transition: transform 0.3s ease;
            }

            .rotate-up {
                transition: 0.5s;
                transform: rotate(90deg);
            }
        }

        .accordion:focus {
            outline: none !important;
        }

        .accordion-content {
            overflow: hidden;
            transition: max-height 0.3s ease;
    
            .accordion-text {
                padding-top: 1.25em;
                font-size: var(--font-size-small);
                line-height: 1.5;
                transition: 0.3s;
                color: var(--color-text-dark-alt);
            }
        }
    }
}
