.container {
    background-color: var(--color-background);

    .section {
        padding-top: 90px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section-title {
            margin: 2em 0;
            font-weight: 600;
            line-height: 1.31;
            font-size: var(--font-size-large);
        }

        .button {
            background-color: var(--color-white);
            color: var(--color-primary);
            border: none;
            display: flex;
            align-items: center;
            gap: 0.75em;
            font-weight: 600;
            padding: 0.85em 2em;

            .arrow-icon {
                font-size: var(--font-size-medium-sm);
            }
        }
    }
}
