.account {
    background-color: var(--color-background);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    position: fixed;
    
    .container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;

   

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            max-width: 810px;

            .back-link {
                padding-bottom: 20px;
                display: flex;
                color: #262626;
                cursor: pointer;
                text-decoration: none;
            }

            .title {
                color: var(--color-tertiary);
                font-size: var(--font-size-large);
                line-height: 42px;
                margin-bottom: 20px;
            }

            .main-settings {
                display: grid;
                grid-template-columns: 1fr 4fr;
                padding: 0 30px 0 0;
                background-color: var(--color-white);
                border-radius: 10px;

                .panels {
                    border-right: 1px solid #d9d9d9;
                    padding-top: 30px;
          
                    .panel-item {
                        padding: 20px 50px 20px 25px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        text-align: left;
                        border-right: 3px solid #fff;
                        text-decoration: none;
                        color: #292929;

                        .panel-icon {
                            color: #909696;
                            margin-right: 10px;
                        }
                    }

                    .panel-active {
                        padding: 20px 50px 20px 25px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        text-align: left;
                        background-color: #e6f4f3;
                        border-right: 3px solid #00a297;
                        text-decoration: none;
                        color: var(--color-primary);

                        .panel-icon-active {
                            color: var(--color-primary);
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

