.container {
    background-color: var(--color-background);
    max-width: 100vw;
    min-height: 100vh;

    .settings {
        padding-top: 2em;
        display: grid;
        justify-content: center;

        .text-section {
            padding-bottom: 2em;

            .back-link {
                max-width: max-content;
                display: flex;
                align-items: center;
                color: var(--color-dark);
                font-size: var(--font-size-small);
                line-height: 1.5em;
                margin-bottom: 1em;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    filter: opacity(60%);
                }

                .back-icon {
                    margin-right: 0.85em;
                }
            }

            .title {
                color: var(--color-tertiary);
                font-family: var(--font-family-header);
                font-size: var(--font-size-large);
            }
        }

        .main-section {
            background-color: var(--color-white);
            border-radius: 8px;
            display: flex;
            margin-bottom: 6.25em;
            width: 60vw;

            .panels {
                border-right: 2px solid var(--color-background);
                padding-top: 2em;
                min-width: 11em;

                .panel-item {
                    padding: 1em 2em 1em 1.5em;
                    height: 3em;
                    display: flex;
                    align-items: center;
                    border-right: 3px solid var(--color-white);
                    font-weight: 500;
                    font-size: var(--font-size-small);
                    color: var(--color-dark);
                    cursor: pointer;

                    .panel-icon {
                        color: #909696;
                        margin-right: 0.75em;
                    }

                    &Active {
                        background-color: #e6f4f3;
                        border-right: 3px solid var(--color-primary);
                        color: var(--color-primary);
                        font-weight: 600;

                        .panel-icon {
                            color: var(--color-primary);
                        }
                    }
                }
            }

            .edit-section {
                width: 100%;
                padding: 2em;
            }
        }

        @media screen and (max-width: 992px) {
            .main-section {
                width: 80vw;
            }
        }

        @media screen and (max-width: 786px) {
            .main-section {
                flex-direction: column;
                width: 95vw;

                .panels {
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid var(--color-background);
                    padding-top: 0;

                    .panel-item {
                        border-right: none;
                        padding: 1.5em 2em;
                        width: 100%;
                        justify-content: center;

                        .panel-icon {
                            display: none;
                        }

                        &Active {
                            border-bottom: 3px solid var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 482px) {
        .settings {
            padding: 2em;
        }
    }
}
