@import '../vendor/react-arsenal/styles/_base.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap');

:root {
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-input-outline: #20c7bc;
    --color-background: #f2f2f2;
    --color-background-dark: #0d2d41;

    /* Neutral Colors */
    --color-dark: #262626;
    --color-dark-alt: #404040;
    --color-grey-dark: #595959;
    --color-grey-dark-alt: #737373;
    --color-grey: #8c8c8c;
    --color-grey-light: #a6a6a6;
    --color-grey-light-alt: #bfbfbf;
    --color-light: #d9d9d9;
    --color-light-alt: #f2f2f2;

    /* Primary and Secondary Colors */
    --color-primary: #00a297;
    --color-primary-alt: #20c7bc;
    --color-primary-light: #5deae0;
    --color-primary-light-alt: #b2f8f3;
    --color-secondary: #085ba3;
    --color-secondary-alt: #257dc9;
    --color-secondary-light: #5dabed;
    --color-secondary-light-alt: #9dcffa;
    --color-tertiary: #182c3d;
    --color-tertiary-alt: #2e577b;
    --color-tertiary-light: #6e9ec9;
    --color-tertiary-light-alt: #b9ddfd;

    /* Severity Colors */
    --color-severity-high: #fe625e;
    --color-severity-high-bg: #fe625e22;
    --color-severity-medium: #f8b535;
    --color-severity-medium-bg: #f8b5351a;
    --color-severity-low: #f8e9a1;
    --color-severity-low-bg: #f8e9a122;

    /* Font */
    --font-size-base: 1rem;             // 16px
    --font-size-tiny: 0.75rem;          // 12px
    --font-size-small: 0.875rem;        // 14px
    --font-size-normal: 1.125rem;       // 18px
    --font-size-medium-sm: 1.25rem;     // 20px
    --font-size-medium: 1.375rem;       // 22px
    --font-size-medium-lg: 1.5rem;      // 24px
    --font-size-large-sm: 1.625rem;     // 26px
    --font-size-large: 2rem;            // 32px
    --font-size-large-alt: 2.5rem;      // 40px
    --font-size-header-sm: 2.875rem;    // 46px
    --font-size-header: 3.25rem;        // 52px
    --font-family-header: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
    @media only screen and (max-width: 991px) {
        font-size: 14px;
    }

    @media only screen and (max-width: 719px) {
        font-size: 13px;
    }

    @media only screen and (max-width: 479px) {
        font-size: 12px;

        input {
            font-size: 16px !important; // For mobile devices
        }
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    a {
        text-decoration: none;
        color: var(--color-primary-alt);
    }
}
