.input {
    display: flex;
    align-items: center;

    .icon {
        color: #9aa0ac;
        font-size: var(--font-size-medium-lg);
        cursor: pointer;

        &:hover {
            color: var(--color-primary);
        }

        &__checked {
            color: var(--color-primary);
        }
    }
}
