.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);

    .content {
        flex: 1;
        display: flex;
        padding-bottom: 3.5rem;
    }
}
