.container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 4em;
    min-height: 70vh;

    .info-image {
        margin-bottom: 0.75em;
    }

    .info-text {
        width: 25%;
        text-align: center;
        margin: 2.25em 0;
        font-size: var(--font-size-base);
        line-height: 1.5em;
        color: var(--color-dark);

        @media screen and (max-width: 767px) {
            width: 90%;
        }
    }

    .button {
        display: flex;
        align-items: center;
        font-weight: 500;

        &__icon {
            font-size: var(--font-size-medium);
            margin-right: 0.25em;
        }
    }
}

.tabs {
    background-color: var(--color-white);
    display: flex;
    border-radius: 8px;

    .tabs-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        height: 100vh;
        overflow-y: auto;
        flex-direction: column;
        border-right: 1px solid var(--color-light);
        border-bottom: none;
        padding: 30px 0;
        width: 290px;

        @media screen and (max-width: 767px) {
            width: unset;
        }

        .header-item {
            padding: 14px 20px;
            font-size: var(--font-size-small);
            line-height: 1.5em;
            color: var(--color-dark);
            font-weight: 600;
            cursor: pointer;
            user-select: none;

            @media screen and (max-width: 767px) {
                padding: 10px 12px;
            }

            .header-title {
                display: flex;
                align-items: center;

                &:hover {
                    filter: opacity(80%);
                }

                .tab-icon {
                    margin-right: 20px;

                    path,
                    rect {
                        fill: #909696;
                    }

                    @media screen and (max-width: 767px) {
                        margin-right: unset;
                    }
                }

                .tab-label {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }

            &__active {
                color: var(--color-primary);
                background-color: #e6f4f3;
                border-right: 3px solid var(--color-primary);

                .header-title .tab-icon {
                    path,
                    rect {
                        fill: var(--color-primary);
                    }
                }
            }
        }
    }

    .content-container {
        flex: 1;
        overflow-y: auto;
        width: 100%;
        padding: 30px;

        @media screen and (max-width: 767px) {
            padding: 20px;
        }

        .tab-content {
            scroll-margin-top: 20vh;
            min-height: max-content;
            margin-bottom: 24px;

            &:last-child {
                padding-bottom: 2rem;
            }
        }
    }
}
