.container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 4em;
    min-height: 70vh;

    .info-image {
        margin-bottom: 0.75em;
    }

    .info-text {
        width: 25%;
        text-align: center;
        margin: 2.25em 0;
        font-size: var(--font-size-base);
        line-height: 1.5em;
        color: var(--color-dark);
    }

    .button {
        display: flex;
        align-items: center;
        font-weight: 500;

        &__icon {
            font-size: var(--font-size-medium);
            margin-right: 0.25em;
        }
    }
}

.tabs {
    background-color: var(--color-white);
    display: flex;
    border-radius: 8px;

    .tabs-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: flex;
        height: 100vh;
        overflow-y: auto;
        flex-direction: column;
        border-right: 1px solid var(--color-light);
        border-bottom: none;
        padding: 30px 0;
        width: 290px;

        .header-item {
            padding: 14px 20px;
            font-size: var(--font-size-small);
            line-height: 1.5em;
            color: var(--color-dark);
            font-weight: 600;
            cursor: pointer;

            .header-title {
                display: flex;
                align-items: center;

                .tab-icon {
                    margin-right: 20px;
                }
            }

            &__active {
                color: var(--color-primary);
                background-color: #e6f4f3;
                border-right: 3px solid var(--color-primary);

                .header-title .tab-icon {
                    path {
                        fill: var(--color-primary);
                    }
                }
            }
        }
    }

    .content-container {
        flex: 1;
        overflow-y: auto;
        width: 100%;
        padding: 30px;

        .tab-content {
            scroll-margin-top: 3em;
            min-height: max-content;
            margin-bottom: 24px;
        }
    }
}
