.container {
    .textarea {
        width: 100%;
        border: 1px solid var(--color-border);
        background-color: inherit;
        border-radius: var(--border-radius-small);

        &:focus:not(:disabled),
        &:hover:not(:disabled) {
            border: 1px solid var(--color-input-outline);
            outline-color: var(--color-input-outline);
        }
    }

    .textarea-warning {
        border-color: var(--color-warning) !important;
    }

    .warning-text {
        font-size: var(--font-size-tiny);
        font-weight: 500;
        color: var(--color-warning);
    }
}
