.country-container {
    background-color: var(--color-light);

    .country-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25em;

        .world-map {
            .world-map-cont {
                width: 32.8em;
                max-width: 80vw;
            }
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            align-items: unset;
            gap: 3em;
    
            .world-map {
                position: relative;
                width: 50%;
    
                .world-map-cont {
                    position: sticky;
                    top: 7.5em;
                    left: 0;
                    width: 100%;
                }
            }
    
            .cards {
                width: 50%;
            }
        }
    }
}
