.container__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: var(--color-background);

    p {
        margin: 24px 0;
    }

    .button {
        margin-top: 12px;
    }
}

