.edit-form {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 2em;

    .input-label {
        font-size: var(--font-size-small);
        color: var(--color-grey);
        line-height: 1.375em;
        margin-bottom: 0.5em;
    }
    .error-label{
        font-size: var(--font-size-small);
        color:red;
    }

    .input {
        color: var(--color-dark);
        font-size: var(--font-size-base);
        line-height: 1.25em;
        outline-color: var(--color-primary-alt);
        caret-color: var(--color-primary);
        background-color: var(--color-white);
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    .forgot-password-link {
        color: var(--color-primary);
        text-decoration: none;
        font-size: var(--font-size-small);
        padding: 0.75em 0;
        display: flex;
        justify-content: flex-end;
    }
}
