.container {
    display: flex;
    flex-direction: column;
    
    .change-password {
        font-size: var(--font-size-base);
        font-weight: 500;
        line-height: 1.5;
        color: var(--color-grey-dark);
        margin-bottom: 1.25em;
    }

    .input-label {
        font-size: var(--font-size-small);
        color: var(--color-grey);
        line-height: 1.375em;
        margin-bottom: 0.5em;
    }

    .input {
        color: var(--color-dark);
        font-size: var(--font-size-base);
        line-height: 1.25em;
        outline-color: var(--color-primary-alt);
        caret-color: var(--color-primary);
        background-color: var(--color-white);
    }

    .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        &__info {
            margin-bottom: 0.35em;
        }
    }

    .forgot-password-link {
        color: var(--color-primary);
        font-size: var(--font-size-small);
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 1em;
    }
}
