.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 25px;
    border-bottom: 1px solid var(--color-light);

    .logo {
        height: 27px;
    }

    .title {
        font-family: var(--font-family-header);
        font-size: var(--font-size-medium-sm);
        font-weight: 600;
        color: var(--color-tertiary);
    }

    .right-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .share-dropdown {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            margin-right: 2em;
        }

        .share-icon__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .action-icon {
            color: var(--color-grey-dark-alt);
            cursor: pointer;
        }

        .public-text {
            font-size: 0.675em;
            font-weight: 500;
            padding: 0.25em 0.5em;
            border-radius: 11px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
            border: solid 1px var(--color-primary);
            margin-left: 0.5em;
        }

        .notification-icon {
            margin-right: 2em;

            path {
                stroke-width: 42px;
            }
        }

        .user-avatar {
            width: 42px;
            height: 42px;
            border-radius: 21px;
            font-size: 18px;
            line-height: 31px;
            color: #c0d0de;
            background-color: var(--color-tertiary);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

.user-options {
    background-color: var(--color-white);
    box-shadow: 5px 20px 40px 0 rgba(0, 0, 0, 0.1);
    list-style: none;
    width: max-content;
    border-radius: 10px;
    font-size: var(--font-size-small);
    padding: 8px 0;

    .user-info {
        display: flex;
        align-items: center;
        padding: 0.45em 1.5em;
        margin-bottom: 12px;
        cursor: pointer;

        &:hover {
            background-color: #ecf2f7;
        }

        .user-avatar {
            width: 42px;
            height: 42px;
            border-radius: 21px;
            font-size: 18px;
            line-height: 31px;
            color: #c0d0de;
            background-color: var(--color-tertiary);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .user-data {
            margin: 0 15px;

            .name {
                font-family: var(--font-family-header);
                font-size: var(--font-size-small);
                font-weight: 600;
                color: var(--color-dark);
            }

            .email {
                font-size: 12px;
                color: var(--color-grey-dark);
            }
        }
    }

    .user-option {
        text-decoration: none;
        padding: 0.75em 1.5em;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        transition: 0.3s;
        color: var(--color-dark);

        .userIcon {
            color: #909696;
            font-size: var(--font-size-medium-sm);
            margin-right: 15px;
            max-width: 1.25em;
        }

        &:hover {
            background-color: #ecf2f7;
        }
    }
}
