.section {
    margin-bottom: 64px;

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title {
            font-size: 22px;
            font-weight: bold;
            color: #292929;

            @media screen and (max-width: 767px) {
                align-self: flex-start;
            }
        }

        .header-buttons {
            display: flex;
            align-items: center;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                align-items: flex-end;
            }

            .exports {
                display: flex;
                align-items: center;
                font-size: var(--font-size-small);
                font-weight: 500;
                color: var(--color-primary);
                cursor: pointer;
                margin-left: 4em;
                margin-bottom: 1em;
                transition: all 0.3s ease;
                border-radius: 4px;

                &:hover {
                    filter: brightness(120%);
                }

                @media screen and (max-width: 767px) {
                    background-color: rgba(#f2f2f2, 0.51);
                    min-width: 9.5em;
                    padding: 0.75em;
                    margin-left: 1em;
                }

                .exports-title {
                    margin-left: 0.4em;
                }
            }
        }
    }

    .infoWrapper {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
        }

        .infoDesc {
            color: #262626;
            font-size: var(--font-size-small);
            line-height: 1.44;
        }

        .concerns {
            display: grid;
            grid-gap: 0.9em;
            margin-left: 2em;
            height: fit-content;
            padding: 1em 0.75em;
            border-radius: 0.5em;
            border: solid 1px #e5e5e5;

            @media screen and (max-width: 767px) {
                padding: unset;
                border-radius: unset;
                border: unset;
                margin-bottom: 2em;
                margin-left: unset;
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            }

            .concerns-item {
                width: 11em;
                display: flex;
                cursor: pointer;
                transition: all 0.2s ease-out;
                align-items: center;

                @media screen and (max-width: 767px) {
                    width: unset;
                    flex-direction: column;
                    padding: 1em 0.75em;
                    border-radius: 0.5em;
                    border: solid 1px #e5e5e5;
                    align-items: center;
                }

                .concern-info {
                    display: flex;

                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                        margin-top: 1em;
                        gap: 0.25em;
                        text-align: center;
                    }

                    .concern-number {
                        margin-left: 0.5em;
                        font-size: var(--font-size-base);
                        font-weight: 600;
                        margin-right: 0.25em;
                    }

                    .concern-label {
                        font-size: 0.75em;
                        line-height: 1.75em;
                        text-transform: capitalize;

                        @media screen and (max-width: 767px) {
                            line-height: 1.33;
                        }
                    }
                }
            }
        }
    }

    .statement-wrapper {
        .statement-header {
            margin: 2em 0 1.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .statement-title {
                text-transform: uppercase;
            }

            .expand-wrapper {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0.75em 1em;
                background-color: #f2f2f2;
                color: var(--color-primary);
                font-size: var(--font-size-small);
                font-weight: 500;

                span {
                    margin-right: 0.25em;
                }

                &:hover {
                    background-color: #e6f4f3;
                }
            }
        }
    }
}
