.modal {
    border-radius: 8px;
    width: 85vw;
    max-width: 1200px;
    background-color: var(--color-light-alt);

    @media screen and (max-width: 768px) {
        width: 95vw;
    }

    .header {
        padding: 20px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;

        .title {
            color: var(--color-tertiary);
            font-size: var(--font-size-medium);
            font-family: var(--font-family-header);
            font-weight: 600;
            line-height: 1.75em;
        }

        .header-right {
            display: flex;
            align-items: center;

            .edit-button {
                padding: 0.5em 1.25em;
                font-size: var(--font-size-small);
            }

            .close-container {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: var(--color-white);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin-left: 2em;

                .close-icon {
                    color: var(--color-grey-dark-alt);
                }
            }
        }
    }

    .progress-container {
        height: 5px;
        background-color: #b9ddfd;
        width: 100%;

        .progress {
            height: 5px;
            background-color: #3a7db9;
            transition: width 1s ease;
        }
    }

    .content-container {
        flex: 1;
        background-color: var(--color-white);
        display: flex;
        height: calc(77.5vh - 5px);

        .expand-icon {
            margin-top: 12px;
            margin-left: 12px;
            color: var(--color-grey);
            transition: color 0.2s ease-out;
            cursor: pointer;

            &:hover {
                color: var(--color-grey-dark-alt);
            }
        }

        .group-list {
            flex: 0 0 30%;
            display: flex;
            flex-direction: column;
            padding: 1.25em 1em 0.5em 1.5em;
            padding-right: 1em;
            max-height: 80vh;
            overflow-y: auto;

            .group-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.25em;

                .group-title {
                    color: var(--color-grey-dark-alt);
                    font-size: var(--font-size-small);
                }

                .collapse-icon {
                    color: var(--color-grey);
                    transition: color 0.2s ease-out;
                    cursor: pointer;

                    &:hover {
                        color: var(--color-grey-dark-alt);
                    }
                }
            }

            .group-item {
                font-size: var(--font-size-small);
                cursor: pointer;
                font-weight: 600;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 0.625em;
                margin: 0.5em 0;
                background-color: #eff3f5;
                border-radius: 4px;
                color: var(--color-tertiary-alt);
                box-sizing: border-box;

                &__active {
                    background-color: var(--color-tertiary-alt);
                    color: var(--color-white);
                }

                &__incomplete {
                    color: #f4802c;
                }

                &__untouched {
                    color: var(--color-grey-light);
                }

                &__active__incomplete {
                    background-color: #ffeee1;
                    border: 1px solid #f4802c;
                    color: #f4802c;
                }
            }
        }

        .group-list__collapsed {
            display: none;
        }

        .content {
            padding: 1.25em 1.5em 0.5em;
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 8px 8px;
            overflow-y: auto;
            max-height: 80vh;

            .language-select {
                align-self: flex-end;
                font-size: 0.8rem;
                line-height: 1.5em;
                color: var(--color-dark-alt);
            }

            .content-message {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .content-text-container {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .complete-image {
                        margin-bottom: 30px;
                    }

                    .complete-text {
                        align-self: center;
                        font-size: var(--font-size-base);
                        color: var(--color-dark);
                        font-weight: 500;
                        width: 60%;
                        text-align: center;

                        &__warning {
                            color: var(--color-warning);
                        }
                    }
                }
            }

            .content-title {
                color: var(--color-primary);
                font-size: var(--font-size-medium-sm);
                line-height: 1.375em;
                margin-bottom: 10px;
                font-weight: 600;
            }

            .error-message {
                align-self: center;
                width: 80%;
                color: var(--color-danger);
                text-align: center;
            }

            .buttons {
                display: flex;
                padding: 20px 0;
                background-color: var(--color-white);
                justify-content: space-between;
                margin-top: auto;

                .button {
                    display: flex;
                    align-items: center;

                    &__next {
                        margin-left: auto;
                    }

                    &-icon__left {
                        margin-right: 10px;
                    }

                    &-icon__right {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 25px;
        height: 7.5vh;
        background-color: var(--color-white);
        border-top: solid 1px var(--color-grey-light-alt);
        border-radius: 0 0 8px 8px;

        .footer-link {
            color: var(--color-grey);
            font-size: var(--font-size-small);
            line-height: 1.5em;
            font-weight: 500;
            margin: 0 40px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }

            &-icon__left {
                margin-right: 10px;
            }

            &-icon__right {
                margin-left: 10px;
            }
        }
    }
}
