.modal {
    border-radius: 8px;
    width: 60vw;
    max-width: 900px;
    min-height: 90vh;
    background-color: var(--color-light-alt);

    .header {
        padding: 20px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            color: var(--color-tertiary);
            font-size: var(--font-size-medium);
            font-family: var(--font-family-header);
            font-weight: 600;
            line-height: 1.75em;
        }

        .close-container {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .close-icon {
                color: var(--color-grey-dark-alt);
            }
        }
    }

    .content {
        flex: 1;
        padding: 20px 25px 10px 25px;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        border-radius: 0 0 8px 8px;
        overflow-y: auto;

        .language-select {
            align-self: flex-end;
            font-size: 0.8rem;
            line-height: 1.5em;
            color: var(--color-dark-alt);
        }

        .content-title {
            color: var(--color-primary);
            font-size: var(--font-size-medium-sm);
            line-height: 1.375em;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .content-block {
            padding: 10px 20px 15px 15px;
            border-radius: 4px;
            border: solid 1px #e2e2e2;
            margin: 10px 0;

            .content-block-title {
                font-size: var(--font-size-base);
                line-height: 1.5em;
                color: var(--color-dark);
                margin-bottom: 10px;
            }

            .description-title {
                font-weight: 600;
            }

            .input-title {
                font-size: var(--font-size-small);
                font-weight: 500;
            }

            &__text {
                font-size: var(--font-size-small);
                color: var(--color-dark);
                line-height: 1.5em;
                list-style-position: inside;
            }

            .input {
                font-size: var(--font-size-base);
                width: 100%;
                border: transparent;
                outline: none;
                padding: 0;

                &::placeholder {
                    color: var(--color-grey-light-alt);
                }
            }
        }
    }

    .buttons {
        display: flex;
        padding: 10px 25px 20px 25px;
        background-color: var(--color-white);
        justify-content: space-between;
        margin-top: auto;

        .button {
            display: flex;
            align-items: center;

            &__next {
                margin-left: auto;
            }

            &-icon__left {
                margin-right: 10px;
            }

            &-icon__right {
                margin-left: 10px;
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 25px;
        background-color: var(--color-white);
        border-top: solid 1px var(--color-grey-light-alt);
        border-radius: 0 0 8px 8px;

        .footer-link {
            color: var(--color-grey);
            font-size: var(--font-size-small);
            line-height: 1.5em;
            font-weight: 500;
            margin: 0 40px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }

            &-icon__left {
                margin-right: 10px;
            }

            &-icon__right {
                margin-left: 10px;
            }
        }
    }
}
