.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 0 25px;

  .title {
    align-self: flex-start;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .take-survey-box {
      background-color: var(--color-white);

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 57px;
      border-radius: 6px;
      width: 30vw;
      .info-image {
        margin-bottom: 42px;
      }
      .info-text {
        text-align: center;
        font-size: var(--font-size-medium);
        color: var(--color-dark);
        line-height: 1.31em;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        font-size: var(--font-size-base);

        &-icon {
          margin-right: 6px;
        }
      }
    }
  }
}
