.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 20px 15px;
    border-radius: 8px;

    .title {
        margin: 0 0 15px 13px;
        font-size: var(--font-size-medium);
        font-weight: bold;
        line-height: 1.5em;
        color: var(--color-dark);
    }

    .overview {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 2.5em;
        }

        .overview-content {
            flex: 0 0 40%;
            padding: 0 13px;
            margin-right: 17px;

            .description {
                font-size: var(--font-size-small);
                line-height: 1.5em;
                margin-bottom: 30px;
            }

            .survey-information {
                .info-header {
                    font-size: var(--font-size-base);
                    line-height: 1.5em;
                    margin-bottom: 20px;
                    color: var(--color-dark);
                    font-weight: 600;
                }

                .info-content {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    grid-gap: 20px;
                    align-items: center;
                    margin-bottom: 25px;

                    .info-title {
                        font-size: 0.8rem;
                        color: var(--color-grey);

                        &__media {
                            align-self: flex-start;
                        }
                    }

                    .info-value {
                        font-size: var(--font-size-small);
                        color: var(--color-dark);
                        line-height: 1.5em;
                        font-weight: 500;
                        max-width: 14.5em;
                    }

                    .media-list-container {
                        display: flex;
                        align-items: center;

                        .media-list {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            .media-item {
                                width: 49px;
                                height: 49px;
                                border-radius: 4px;
                                margin-right: 5px;
                                transition: 0.3s ease;
                                cursor: pointer;
                                object-fit: cover;

                                &:hover {
                                    filter: brightness(90%);
                                }
                            }
                        }

                        .more-media-count {
                            color: var(--color-primary);
                            font-size: var(--font-size-base);
                            font-weight: 500;
                            margin-left: 4px;
                            cursor: pointer;
                            transition: 0.3s ease;

                            &:hover {
                                filter: brightness(85%);
                            }
                        }
                    }
                }
            }
        }

        .statement-summary {
            flex: 1;
            padding: 20px;
            border-radius: 4px;
            border: solid 1px var(--color-light);
            display: flex;
            flex-direction: column;

            .statement-title {
                font-size: var(--font-size-base);
                line-height: 1.5em;
                margin-bottom: 20px;
                color: var(--color-dark);
                font-weight: 600;
            }

            .concerns {
                display: flex;
                flex-direction: row;
                margin-bottom: 1.5rem;
                gap: 1rem;
                max-width: 80%;

                @media screen and (max-width: 480px) {
                    flex-direction: column;
                    gap: 1.5em;
                    max-width: unset;
                }
            }

            .map {
                flex: 1;
                width: 100%;
                border-radius: 4px;
                overflow: hidden;
            }
        }
    }

    .activities-section {
        margin-top: 2rem;

        .activities-section-title {
            font-weight: 600;
            font-size: var(--font-size-base);
            line-height: 1.19em;
            color: var(--color-dark-alt);
            margin-bottom: 1.25rem;
        }

        .module-cards {
            display: grid;
            width: 100%;
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            grid-gap: 1rem;

            .module-card {
                border: 1px solid #ECECEC;
                padding: 0.75rem;
                border-radius: 4px;

                .module-card-header {
                    display: flex;
                    margin-bottom: 1rem;
                    align-items: center;

                    .module-card-header-icon {
                        margin-right: 0.5rem;

                        path,
                        rect {
                            fill: var(--color-primary);
                        }
                    }

                    .module-card-title {
                        color: var(--color-primary);
                        font-size: var(--font-size-normal);
                        line-height: 1.44em;
                        font-weight: 600;
                    }
                }

                .module-description {
                    margin-bottom: 1rem;
                    color: var(--color-dark-alt);
                    font-size: var(--font-size-small);
                    line-height: 1.43em;
                }

                .module-concerns {
                    display: flex;
                    gap: 0.5rem;
                }

                .no-concerns {
                    padding: 0.75rem 1.5rem;
                    border: 1px dashed var(--color-grey-light);
                    border-radius: 4px;
                    font-size: var(--font-size-base);
                    line-height: 1.19em;
                    color: var(--color-grey-dark-alt);
                    font-weight: 600;
                    margin-top: 1.75rem;
                    width: fit-content;
                }
            }

            .list-info {
                align-self: flex-start;
                font-size: var(--font-size-small);
                color: var(--color-dark-alt);
            }
        }
    }
}

.concerns-item {
    border-radius: 4px;
    padding: 23px 20px 14px;
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border: 1px solid #E7E7E7;

    @media screen and (max-width: 992px) {
        padding-bottom: 24px;
    }

    @media screen and (max-width: 767px) {
        padding: 13px 10px 4px;
    }

    @media screen and (max-width: 480px) {
        padding: 23px 20px 14px;
    }

    &:hover {
        filter: brightness(85%);
        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.06);
    }

    &__high {
        border-bottom: solid 3px var(--color-severity-high);
    }

    &__medium {
        border-bottom: solid 3px var(--color-severity-medium);
    }

    &__low {
        border-bottom: solid 3px var(--color-severity-low);
    }

    .concern-number {
        font-size: 1.5rem;
        line-height: 1.24em;
        color: var(--color-grey-dark-alt);
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    .concern-description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .concern-label {
            font-size: var(--font-size-tiny);
            line-height: 1.2em;
            text-transform: capitalize;
            color: var(--color-dark-alt);
        }

        .concern-icon {
            margin-right: -0.5rem;
            align-self: flex-end;
        }
    }
}
