.input {
    display: flex;
    flex-direction: column;

    .drop-zone {
        color: var(--color-border);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s ease;

        &__icon {
            margin: 0.5em 0;
        }

        &__text {
            text-align: center;
            width: 60%;
        }

        &:hover {
            color: var(--color-input-outline);
        }
    }

    .active-input {
        border-color: var(--color-input-outline);
        color: var(--color-input-outline);
    }

    .drag-over-frame {
        border-color: var(--color-primary-light);
        color: var(--color-primary-light);
    }

    .images {
        display: flex;
        margin-top: 24px;
        text-align: right;
        overflow-y: auto;
        padding: 8px 0;

        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0.5em;
            position: relative;
            background-color: var(--color-white);

            &__disabled {
                pointer-events: none;

                & > .remove-icon-container {
                    display: none;
                }
            }

            .remove-icon-container {
                position: absolute;
                top: -8px;
                right: -8px;
                width: 16px;
                height: 16px;
                cursor: pointer;
                border-radius: 8px;
                background-color: var(--color-danger);
 
                .remove-icon {
                    width: 16px;
                    height: 16px;
                    color: var(--color-white);
                }
            }

            .image {
                max-width: 100px;
            }

            &:hover {
                filter: brightness(95%);
            }
        }
    }
}

.clear {
    width: max-content;
    margin-top: 16px;
    font-size: 13px;
    color: var(--color-grey-dark-alt);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: var(--color-dark);
    }
}
