.account-info {
    display: flex;
    margin-bottom: 1.87em;
	gap: 5em;

    .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-name {
            padding-left: 0.75em;
            font-size: var(--font-size-base);
        }

        .user-avatar {
            min-width: 3em;
            min-height: 3em;
            border-radius: 3em;
            font-size: var(--font-size-normal);
            line-height: 1.5;
            color: #c0d0de;
            background-color: var(--color-tertiary);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 479px) {
    .account-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
}
