.account-info {
    display: flex;
    align-items: center;
    margin-bottom: 1.87em;
    justify-content: space-between;

    .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-name {
            padding-left: 0.75em;
            font-size: var(--font-size-base);
            font-family: var(--font-family-header);
            font-weight: 600;
        }

        .user-avatar {
            min-width: 2.5em;
            min-height: 2.5em;
            border-radius: 1.25em;
            font-size: var(--font-size-normal);
            line-height: 1.5;
            color: #c0d0de;
            background-color: var(--color-tertiary);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .button {
        padding: 0.75em 1.5em;
        min-width: 190px;
        font-size: var(--font-size-base);
        font-weight: 500;
    }
}

@media only screen and (max-width: 479px) {
    .account-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
}
