.login-container {
    background-color: var(--color-background);

    .login-content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-background);

        .nav {
            align-self: flex-start;
            display: flex;
            margin: 35px 0;

            &-link {
                text-decoration: none;
                color: var(--color-black);

                .logo {
                    height: 27px;
                }
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .sub-title {
                color: var(--color-primary);
                font-size: var(--font-size-medium);
                line-height: 1.5em;
                margin-bottom: 10px;
                font-weight: 500;
            }

            .title {
                color: var(--color-tertiary);
                font-size: var(--font-size-large-alt);
                line-height: 52px;
                margin: 10px 0;
                font-family: var(--font-family-header);
                font-weight: 600;
            }

            .bottom-links {
                .link {
                    text-decoration: none;
                    color: var(--color-grey);
                    font-size: var(--font-size-small);
                    line-height: 1.5em;
                    margin: 0 12px;
                }
            }

            .login-container {
                margin: 30px 0;
                background-color: var(--color-white);
                padding: 35px;
                border-radius: 6px;
                width: 30vw;

                @media screen and  (max-width: 767px) {
                    width: 80vw;
                }

                .login-form {
                    display: flex;
                    flex-direction: column;

                    .input-group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;

                        .input-label {
                            font-size: var(--font-size-small);
                            color: var(--color-grey);
                            line-height: 1.375em;
                            margin-bottom: 7px;
                        }

                        .input {
                            color: var(--color-dark);
                            font-size: var(--font-size-base);
                            line-height: 1.25em;
                            outline-color: var(--color-primary-alt);
                            caret-color: var(--color-primary);
                        }
                    }

                    .button {
                        margin: 20px 0;
                    }

                    .error {
                        text-align: center;
                        color: var(--color-danger);
                        margin-bottom: 12px;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .link__item {
                        text-decoration: none;
                        color: var(--color-primary);
                        margin: 10px 0;
                        font-size: var(--font-size-small);
                    }
                }

                .text {
                    text-align: center;
                    margin-top: 40px;
                    color: var(--color-dark);
                    font-size: var(--font-size-small);

                    .link {
                        text-decoration: none;
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}
