.modal {
    border-radius: 8px;
    width: 42rem;
    max-width: 90vw;
    background-color: var(--color-light-alt);

    .header {
        padding: 20px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            color: var(--color-tertiary);
            font-size: var(--font-size-medium);
            font-family: var(--font-family-header);
            font-weight: 600;
            line-height: 1.75em;
        }

        .close-container {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .close-icon {
                color: var(--color-grey-dark-alt);
            }
        }
    }

    .content {
        padding: 30px 25px;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 0 0 8px 8px;
        overflow-y: auto;

        .delete-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;

            .delete-image {
                width: 77px;
                height: 77px;
            }

            .delete-text {
                font-size: var(--font-size-base);
                font-weight: 500;
                color: var(--color-dark);
                line-height: 1.5em;
                text-align: center;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 15px;

            .cancel-button:hover {
                background-color: var(--color-white);
                color: var(--color-primary);
            }
        }
    }
}
