.option-label {
    margin-left: 0.3em;
    width: 100%;
    gap: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
        display: flex;
        align-items: center;
        gap: 0.6em;

        .name {
            font-size: 14px;
        }
    }

    .select {
        font-size: 14px;
        color: var(--color-grey);
        display: flex;
        position: relative;

        .select-control {
            padding: 0;
            border: none;
            display: flex;
            flex: 1;

            .select-value {
                display: flex;
                flex: 1;
                flex-direction: row;
                align-items: center;
            }

            .select-indicator {
                margin-left: 0.5em;
                display: flex;
                align-items: center;
            }
        }

        .select-options-wrapper {
            position: absolute;
            top: 0;
            right: 2px;
            background-color: var(--color-background-alt);
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 4px 11px;
            border-radius: var(--border-radius-small);
            z-index: 1;

            .select-options {
                max-height: 12em;
                overflow-y: scroll;
                padding-top: 4px;
                padding-bottom: 4px;
                min-width: fit-content;
            }
        }
    }
}

.user-icon {
    position: relative;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4em;
    width: 2.4em;
    border-radius: 1.2em;
    color: var(--color-white);

    .close-icon {
        cursor: pointer;
        font-size: 16px;
        border-radius: 10px;
        position: absolute;
        right: -0.6em;
        top: -0.2em;
        color: var(--color-primary);
        background-color: var(--color-white);
    }
}
