.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 20px;
    .invitation {
        display: flex;
        gap: 15px;
        .icon-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 10px;
            background-color: var(--color-tertiary-alt);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .person-icon {
                color: var(--color-white);
            }
        }

        .description-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .description {
                font-size: var(--font-size-small);
                line-height: 1.43;
                color: var(--color-dark);
            }

            .buttons {
                display: flex;
                gap: 10px;

                .button {
                    width: 88px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
