.modal {
    max-width: 769px;
    background-color: white;
    border-radius: 8px;

    .header {
        padding: 20px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px 8px 0 0;
        background-color: var(--color-light-alt);

        .title {
            color: var(--color-tertiary);
            font-size: var(--font-size-medium);
            font-family: var(--font-family-header);
            font-weight: 600;
            line-height: 1.75em;
        }

        .close-container {
            width: 1.875em;
            height: 1.875em;
            background-color: var(--color-white);
            border-radius: 50%;
            cursor: pointer;
            outline: none;
            border: none;

            .close-icon {
                width: 1.25em;
                height: 1.25em;
                color: var(--color-grey-dark-alt);
                margin-top: 2px;
            }
        }
    }

    .content {
        background-color: white;
        padding: 15px 25px;
        margin-bottom: 25px;
        overflow-y: scroll;
        -ms-overflow-style: none;

        .description {
            font-size: var(--font-size-base);
            line-height: 1.5;
        }
    }

    .content::-webkit-scrollbar {
        display: none;
    }
}


.top-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-dark);
    color: var(--color-white);
    padding: 7px 0;
    gap: 10px;
    font-size: 13px;
    z-index: 9;

    span {
        opacity: 1;
    }

    .more-link {
        font-weight: 500;
        cursor: pointer;
        color: var(--color-primary);
        text-decoration: underline;
    }

    .close-icon {
        cursor: pointer;
        position: absolute;
        top: 7px;
        right: 10px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 20px 35px;
        
        span {
            text-align: center;
        }
    }
}
